body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', 'Helvetica', serif;
    margin: 0px;
}

.head-content-button {
    background-color: #3882F6;
    border-radius: 8px;
    padding: 6px 40px;
    color: #F9FAF8;
    flex: none;
    width: 150px;
}

.head-section {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    padding: 18px 144px;
    gap: 18px;
}

.head-content {
    gap: 12px;
    height: 300px;
}

.head-content-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    height: 200px;
}

.head-bar,
.head-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
}

.left-head-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 1;
    height: 200px;
}

.right-head-content {
    flex: 1;
}

.head-bar-links,
.head-content-para {
    font-size: 18px;
    color: #E5E7EB;
}

.head-bar-title {
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;
}

.head-content-hero {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 12px;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.head-bar-links {
    display: flex;
    gap: 12px;
    justify-content: space-between;
}

.main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 48px 144px;
    gap: 24px;
}

.main-title {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
}

.main-contents {
    display: flex;
    gap: 24px;
    width: 800px;
}

.main-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.main-content-square {
    border: 3px solid #3882F6;
    border-radius: 10px;
    flex: 1 0 auto;
    height: auto;
}

.main-content-square:before {
    content: '';
    display: block;
    padding-top: 100%;
}

.main-content-caption {
    text-align: center;
}

.quote-section {
    padding: 96px 144px;
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    align-items: center;
    justify-content: center;
}

.quote-quote {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 750px;
}

.quote-text {
    font-size: 36px;
    font-weight: 200;
    font-style: italic;
    color: #1f2937;
}

.quote-attribution {
    text-align: right;
    font-weight: bold;
    font-size: 24px;
}

.footer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 84px 144px;
    gap: 72px;
}

.footer-message {
    background-color: #3882F6;
    display: flex;
    justify-content: space-between;
    width: 600px;
    padding: 12px;
    padding: 32px 100px;
    border-radius: 8px;
}

.footer-message-heading,
.footer-message-para {
    color: #F9FAF8;
}

.footer-message-heading {
    font-weight: bold;
    font-size: 20px;
}

.right-footer-message {
    display: flex;
    align-items: center;
}

.footer-message-button {
    padding: 4px 24px;
    background-color: #3882F6;
    border: 3px solid #F9FAF8;
    border-radius: 4px;
    font-weight: bold;
    color: #F9FAF8;
}

.footer-bar {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F9FAF8;
    padding: 24px;
}